<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.system.mapper.orderMapper">

    <resultMap type="com.pearadmin.system.domain.order" id="orderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderBeginTime"    column="order_begin_time"    />
        <result property="orderEndTime"    column="order_end_time"    />
        <result property="waiterId"    column="waiter_id"    />
        <result property="orderState"    column="order_state"    />
        <result property="tableId"    column="table_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectorderVo">
        select`order_id`,`order_begin_time`,`order_end_time`,`waiter_id`,`order_state`,`table_id`,`remark` from `dishes_order`
    </sql>

    <select id="selectorderList" parameterType="com.pearadmin.system.domain.order" resultMap="orderResult">
        <include refid="selectorderVo"/>
        <where>
            <if test="orderBeginTime != null "> and `order_begin_time` = #{orderBeginTime}</if>
            <if test="orderEndTime != null "> and `order_end_time` = #{orderEndTime}</if>
            <if test="waiterId != null "> and `waiter_id` = #{waiterId}</if>
            <if test="orderState != null "> and `order_state` = #{orderState}</if>
            <if test="tableId != null "> and `table_id` = #{tableId}</if>
        </where>
    </select>

    <select id="selectorderById" parameterType="Long" resultMap="orderResult">
        <include refid="selectorderVo"/>
        where `order_id` = #{orderId}
    </select>

    <insert id="insertorder" parameterType="com.pearadmin.system.domain.order" useGeneratedKeys="true" keyProperty="orderId">
        insert into `dishes_order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderBeginTime != null">`order_begin_time`,</if>
            <if test="orderEndTime != null">`order_end_time`,</if>
            <if test="waiterId != null">`waiter_id`,</if>
            <if test="orderState != null">`order_state`,</if>
            <if test="tableId != null">`table_id`,</if>
            <if test="remark != null">`remark`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderBeginTime != null">#{orderBeginTime},</if>
            <if test="orderEndTime != null">#{orderEndTime},</if>
            <if test="waiterId != null">#{waiterId},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="tableId != null">#{tableId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateorder" parameterType="com.pearadmin.system.domain.order">
        update `dishes_order`
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderBeginTime != null">`order_begin_time` = #{orderBeginTime},</if>
            <if test="orderEndTime != null">`order_end_time` = #{orderEndTime},</if>
            <if test="waiterId != null">`waiter_id` = #{waiterId},</if>
            <if test="orderState != null">`order_state` = #{orderState},</if>
            <if test="tableId != null">`table_id` = #{tableId},</if>
            <if test="remark != null">`remark` = #{remark},</if>
        </trim>
        where `order_id` = #{orderId}
    </update>

    <delete id="deleteorderById" parameterType="Long">
        delete from `dishes_order` where `order_id` = #{orderId}
    </delete>

    <delete id="deleteorderByIds" parameterType="String">
        delete from `dishes_order` where `order_id` in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>
